{% extends "template/layout.html" %}

{% block title %}Lista de Exames{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/administration/exam/list">Exames</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista de Exames</li>
                </ol>
            </nav>
            <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="m-1 font-weight-bold text-primary">Lista de Exames</h3>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-primary btn-circle btn-locale" href="/administration/exam/add"><i class="fas fa-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr align="center">
                                    <th>Exame</th>
                                    <th>Material</th>
                                    <th>Valores Normais</th>
                                    <th>Descrição</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam in exams %}
                                    <tr align="center">
                                        <td>{{ exam.exam }}</td>
                                        <td>{{ exam.material }}</td>
                                        <td>{{ exam.normal_values }}</td>
                                        <td>{{ exam.description }}</td>
                                        <td>
                                            <a class="btn btn-warning btn-circle btn-sm" href="/administration/exam/edit/{{ exam.id }}"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger btn-circle btn-sm" href="/administration/exam/remove/{{ exam.id }}"><i class="fas fa-times-circle"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
    </div>
{% endblock %}