{% extends "template/layout.html" %}

{% block title %}Finanças{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/finances/cashier">Finanças</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movimentação do Caixa</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl-8 col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4 class="m-1 font-weight-bold text-primary">Movimentação do Caixa - {{ "now"|date("d/m/Y") }}</h4>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-primary btn-circle btn-locale" href="#"><i class="fas fa-calendar-alt"></i></a>
                            <a class="btn btn-danger btn-circle btn-locale movement" id="output" href="#" data-toggle="modal" data-target="#movement_cashier"><i class="fas fa-money-bill-alt"></i></a>
                            <a class="btn btn-success btn-circle btn-locale movement" id="input" href="#" data-toggle="modal" data-target="#movement_cashier"><i class="fas fa-money-bill-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>CPF</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finance in finances %}
                            <tr>
                                <td>{{ finance.created_at|date("d/m/Y H:i") }}</td>
                                <td>{{ finance.description }}</td>
                                {% if finance.type_movement == 1 %}
                                    <td class="text-success"><i class="fas fa-money-bill-alt text-success"></i> {{ finance.value|number_format(2, ',', '') }}</td>
                                {% endif %}
                                {% if finance.type_movement == 0 %}
                                    <td class="text-danger">{{ finance.value|number_format(2, ',', '') }} <i class="fas fa-money-bill-alt text-danger"></i></td>
                                {% endif %}
                                <td>{{ finance.cpf }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="movement_cashier">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="/finances/add" method="POST" autocomplete="off" novalidate>
                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" class="form-control" placeholder="CPF" name="cpf" data-mask="000.000.000-00" required>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> CPF obrigatório, insira seu CPF. </div>
                    </div>
                    <div class="form-group">
                        <label>Valor:</label>
                        <input type="number" class="form-control" placeholder="Valor" name="value" required>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> Valor obrigatório, insira o valor da movimentação. </div>
                    </div>
                    <div class="form-group">
                        <label>Descrição:</label>
                        <textarea class="form-control" rows="5" name="description" style="resize:none" required></textarea>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> Descrição obrigatória, insira a descrição. </div>
                    </div>
                    <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
                    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
                    <input type="hidden" id="type_movement" name="type_movement" value="">
                    <button type="submit" class="btn btn-danger fa-pull-right" id="record">Registrar Movimentação</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
</div>
{% endblock %}