{% extends "template/layout.html" %}

{% block title %}Finanças{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/finances/mes">Finanças</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movimentação do Caixa</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl-9 col-lg-9">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-9">
                            {% if type == 'dia' %}
                                <h4 class="m-1 font-weight-bold text-primary">Movimentação do Dia</h4>
                            {% else %}
                                <h4 class="m-1 font-weight-bold text-primary">Movimentação do Mês</h4>
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if type == 'dia' %}
                                <a class="btn btn-primary btn-circle btn-locale" href="/finances/mes"><i class="fas fa-calendar-alt"></i></a>
                            {% else %}
                                <a class="btn btn-warning btn-circle btn-locale" href="/finances/dia"><i class="fas fa-calendar-alt"></i></a>
                            {% endif %}
                            <a class="btn btn-danger btn-circle btn-locale movement" id="output" href="#" data-toggle="modal" data-target="#movement_cashier"><i class="fas fa-money-bill-alt"></i></a>
                            <a class="btn btn-success btn-circle btn-locale movement" id="input" href="#" data-toggle="modal" data-target="#movement_cashier"><i class="fas fa-money-bill-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr align="center">
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finance in finances %}
                            <tr align="center">
                                <td>{{ finance.created_at|date("d/m/Y H:i") }}</td>
                                <td>{{ finance.description }}</td>
                                {% if finance.type_movement == 1 %}
                                    <td class="text-success"><i class="fas fa-money-bill-alt text-success"></i> {{ finance.value|number_format(2, ',', '') }}</td>
                                {% endif %}
                                {% if finance.type_movement == 0 %}
                                    <td class="text-danger">{{ finance.value|number_format(2, ',', '') }} <i class="fas fa-money-bill-alt text-danger"></i></td>
                                {% endif %}
                                <td>
                                    {% if finance.active == 1 %}
                                        <a class="btn btn-danger btn-circle btn-sm" href="/finances/remove/{{finance.id}}"><i class="fas fa-trash-alt"></i></a>
                                        {% if finance.type_movement == 1 %}
                                        <a class="btn btn-primary btn-circle btn-sm" href="/finances/print/{{finance.id}}" target="_blank"><i class="fas fa-print"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" class="btn btn-info btn-icon-split">
                                            <span class="icon text-white-50">
                                              <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span class="text">Cancelada</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    {% if type == 'dia' %}
                        <h4 class="m-1 font-weight-bold text-primary">Caixa do Dia</h4>
                    {% else %}
                        <h4 class="m-1 font-weight-bold text-primary">Caixa do Mês</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if type == 'dia' %}
                        {% set entrada = 0 %}
                        {% set saida = 0 %}
                        {% for finance in finances %}
                            {% if finance.type_movement == 1 and finance.active == 1  %}
                                {% set entrada = entrada + finance.value %}
                            {% elseif finance.type_movement == 0 and finance.active == 1  %}
                                {% set saida = saida + finance.value %}
                            {% endif %}
                        {% endfor %}
                        {% set caixa = entrada - saida %}
                        <h4 class="m-1 font-weight-bold text-info text-center"> Entrada </h4>
                        <h5 class="m-1 font-weight-bold text-success mt-3 text-center"> R$: {{ entrada|number_format(2, ',', '') }} </h5>
                        <h4 class="m-1 font-weight-bold text-info mt-3 text-center"> Saída </h4>
                        <h5 class="m-1 font-weight-bold text-danger mt-3 text-center"> R$: {{ saida|number_format(2, ',', '') }} </h5>
                        <h4 class="m-1 font-weight-bold text-info mt-3 text-center"> Caixa </h4>
                        {% if caixa > 0 %}
                            <h5 class="m-1 font-weight-bold text-success mt-3 text-center"> R$: {{ caixa|number_format(2, ',', '') }} </h5>
                        {% else %}
                            <h5 class="m-1 font-weight-bold text-danger mt-3 text-center"> R$: {{ caixa|number_format(2, ',', '') }} </h5>
                        {% endif %}
                    {% else %}
                        {% set entrada = 0 %}
                        {% set saida = 0 %}
                        {% for finance in finances %}
                            {% if finance.type_movement == 1 and finance.active == 1  %}
                                {% set entrada = entrada + finance.value %}
                            {% elseif finance.type_movement == 0 and finance.active == 1  %}
                                {% set saida = saida + finance.value %}
                            {% endif %}
                        {% endfor %}
                        {% set caixa = entrada - saida %}
                        <h4 class="m-1 font-weight-bold text-info text-center"> Entrada </h4>
                        <h5 class="m-1 font-weight-bold text-success mt-3 text-center"> R$: {{ entrada|number_format(2, ',', '') }} </h5>
                        <h4 class="m-1 font-weight-bold text-info mt-3 text-center"> Saída </h4>
                        <h5 class="m-1 font-weight-bold text-danger mt-3 text-center"> R$: {{ saida|number_format(2, ',', '') }} </h5>
                        <h4 class="m-1 font-weight-bold text-info mt-3 text-center"> Caixa </h4>
                        {% if caixa > 0 %}
                            <h5 class="m-1 font-weight-bold text-success mt-3 text-center"> R$: {{ caixa|number_format(2, ',', '') }} </h5>
                        {% else %}
                            <h5 class="m-1 font-weight-bold text-danger mt-3 text-center"> R$: {{ caixa|number_format(2, ',', '') }} </h5>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="movement_cashier">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="/finances/add" method="POST" autocomplete="off" novalidate>
                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" class="form-control" placeholder="CPF" name="cpf" data-mask="000.000.000-00" required>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> CPF obrigatório, insira seu CPF. </div>
                    </div>
                    <div class="form-group">
                        <label>Valor:</label>
                        <input type="number" class="form-control" placeholder="Valor" name="value" required>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> Valor obrigatório, insira o valor da movimentação. </div>
                    </div>
                    <div class="form-group">
                        <label>Descrição:</label>
                        <textarea class="form-control" rows="5" name="description" style="resize:none" required></textarea>
                        <div class="valid-feedback"> Ok! </div>
                        <div class="invalid-feedback"> Descrição obrigatória, insira a descrição. </div>
                    </div>
                    <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
                    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
                    <input type="hidden" id="type_movement" name="type_movement" value="">
                    <button type="submit" class="btn btn-danger fa-pull-right" id="record">Registrar Movimentação</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
</div>
{% endblock %}