{% extends "template/layout.html" %}

{% block title %}Lista de Recibos{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/finances/listReceipts">Recibos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista de Recibos</li>
                </ol>
            </nav>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="m-1 font-weight-bold text-primary">Lista de Recibos</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>CPF</th>
                                <th>Valor</th>
                                <th>Descrição</th>
                                <th>Data Recibo</th>
                                <th>Imprimir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for receipt in receipts %}
                            <tr>
                                <td>{{ receipt.cpf }}</td>
                                <td>{{ receipt.value|number_format(2, ',', '') }}</td>
                                <td>{{ receipt.description }}</td>
                                <td>{{ receipt.created_at|date("d/m/Y H:i") }}</td>
                                <td>
                                    <a class="btn btn-primary btn-circle btn-sm" href="/finances/printReceipt/{{receipt.id}}" target="_blank"><i class="fas fa-print"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
</div>
{% endblock %}