{% extends "template/layout.html" %}

{% block title %}Agendar Consulta{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/query/list">Consultas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Agendar Consulta</li>
                </ol>
            </nav>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Agendar Consulta</h3>
                </div>
                <div class="card-body">
                    <form class="needs-validation" action="{{ path_for('query.add') }}" method="POST" autocomplete="off" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CPF:</label>
                                    <input type="text" class="form-control" placeholder="CPF" name="cpf" data-mask="000.000.000-00" required>
                                    <div class="valid-feedback"> Ok! </div>
                                    <div class="invalid-feedback"> CPF obrigatório, insira seu CPF. </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Médico:</label>
                                    <select class="form-control" name="user" required>
                                    <option value=""></option>
                                    {% for medico in medicos %}
                                        <option value="{{medico.id}}">{{medico.name}}</option>
                                    {% endfor %}
                                    </select>
                                    <div class="valid-feedback"> Ok! </div>
                                    <div class="invalid-feedback"> Médico obrigatório, insira seu médico de preferência. </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Data da Consulta:</label>
                                    <input type="text" class="form-control" placeholder="DD/MM/AAAA HH:MM" name="date_query" data-mask="00/00/0000 00:00" required>
                                    <div class="valid-feedback"> Ok! </div>
                                    <div class="invalid-feedback"> Data da consulta obrigatória, insira sua data da consulta. </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
                        <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
                        <button type="submit" class="btn btn-danger fa-pull-right">Agendar Consulta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
</div>
{% endblock %}